*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.make-inline-block{
    display: inline-block;
}
.text-wite{
    color: white;
}
nav{
    background-color: black;
    padding: 1% 10%;
}
nav h1{
    width: 5;
    font-size: 200%;
}
nav h1 span{
    color: rgb(218, 120, 0);
    font-weight: lighter;
}
nav ul{
    margin-left: 50%;
    width: 35%;
}
nav ul li {
    color: white;
    margin-left: 5%;
}
.sec-bg-img{
background-image: url(imges/images.jpeg);
background-repeat: no-repeat;
background-size:100% 100%;
}
.over-lay{
    background-color: rgba(0, 0, 0, 0.766);
    height: 100%;
    padding: 10%;
}
.container{
    width: 95%;
    margin: auto;
}
.info{
    width: 40%;
    margin-right: 10%;
    color: white;
    padding-bottom: 10%;
}

.info h1{
  color: white;
  margin-bottom: 5%;
  font-size: 400%;
}
.info h1 span{
    color: rgb(218, 120, 0);
    font-weight:100;
}
.info h2{
     margin-bottom: 10%;
     font-weight: 100;
}
.info hr{
    margin-bottom: 10%;
    width: 20%;

}
.info p{
    margin-bottom: 10%;
}
.info a{
    border: 2px white solid ;
    padding: 1% 2%;
    text-decoration: none;
    color: white;
    }
.regester{
      width: 30%;
      background-color: white;
      margin-left: 15%;
   
}
.regester h1{
    margin-bottom:10% ;
    background-color: rgb(234, 234, 234);
    padding: 5%;
    text-align: center;
}
.regester h1 span{
     color: rgb(218, 120, 0);
    
}
input{
   margin: auto;
   display: block;
   width: 80%;
   padding-top: 10%;
   border-top: none;
   border-left: none ;
   border-right: none ;
   border-bottom-color:rgb(225, 224, 224) ;
box-shadow: 0px 1px px 10px lightgray;
}
button{
    width: 100%;
    background-color: rgb(237, 123, 67);
    padding:5%;
    text-align: center;
    margin-top: 15%;
    border: none;
    color: white;
}
